<div class="container-fluid py-5">
    <div class="container">
        <div class="row text-center" style="color: white;">
            <div class="col part3">
                <h4>Admin Panel</h4>
                <!-- <a href="#"> <i class="fas fa-arrow-right"></i> Account Info </a> -->
                <button (click)="orderList()" class="text-white"  
                    style="background-color: #131614;">ordered items</button> 
                    <br>
                <button class="text-white" routerLink="home/admin"
                    style="background-color: #20262E;">Login</button>
            </div>
            <div class="col part3">
                <h4>Consumer Policy</h4>
                <p>Return Polycy</p>
                <p>Terms Of Use</p>
                <p>Privacy</p>
            </div>
            <div class="col part3">
                <h4>About Us</h4>
                 <p>Contact Us</p>
                 <p>Careers</p>
                 <p>Invester Relations</p>
                 <p>Awards</p>
                 <p>Events</p>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row text-white">
            
        </div>
    </div>
</div>